# ENVIRONMENT
ENV = "development"

# SERVER CONF
SERVER_HOST = "127.0.0.1"
SERVER_PORT = 50000

# APP CONF
TEMPORARY_FOLDER = "upload/temporary"
UPLOAD_FOLDER = "upload"
ALLOWED_HOST = "http://localhost|http://127.0.0.1"
ALLOWED_FILE_MIME = "image/jpeg|image/png|image/gif|text/plain"

# IMAGE CONF
ALLOWED_IMAGE_WIDTH = "200|360|720"
ALLOWED_IMAGE_HEIGHT =  "200|360|720"